.settings

*.iml
.idea/
.DS_Store
/target/
.classpath
.project
~          
**/repos/
**/logs*/
storage/

.DS_Store
.Python
[Bb]in
[Ii]nclude
[Ll]ib64
[Ll]ocal
pyvenv.cfg
.venv
pip-selfcheck.json
*.log
.factorypath

**/mysql/*

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
.vscode